body{
    background-color: lavenderblush;
}

/*typography*/
h1{
    font-size: 40px;
    color:rgb(11, 62, 104);
    font-style: italic;
    font-family: 'Alfa Slab One', cursive;
}

p{
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    color:rgb(95, 16, 131);
    line-height: 55px;
}

h2{
    font-size: 30px;
    color:darkslateblue;
    font-style: italic;
    font-family: 'Alfa Slab One', cursive;
}

.button-links{
    border-style: solid;
    border-color: darkmagenta;
    background-color: cornsilk;
    border-width: 2px;
    text-decoration: none;
    color: black;
}